*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.contanier{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputwrap{
    width: 530px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 0 20px;
    border-radius: 22.5px;
}

.iconwrap{
    display: flex;
    height: 100%;
}

.inputwrap input{
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
}


.headline{
    display: flex;
    justify-content: start;
    gap: 20px;
    color: gray;
    position: relative;
    top: 15px;
    left: 15px;
    font-size: small;
}

.headline2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    left: 750px;
    font-size: small;
}

.headline_login{
    width: 90px;
    height: 40px;
    background-color: blue;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: small;
    position: relative;
    left: 750px;
    bottom: 8px;
}


.google_search{
    position: absolute;
    top: 70%;
    left: 40%;
    background-color: #F8F9FA;
    width: 100px;
    height: 30px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feeling_lucky{
    position: absolute;
    top: 70%;
    right: 40%;
    background-color: #F8F9FA;
    width: 120px;
    height: 30px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom{
    width: 100%;
    height: 30px;
    display: flex;
    gap: 20px;
    position: relative;
    bottom: 120px;
    background-color: #F2F2F2;
    align-items: center;
    color: #71767B;
    font-size: small;
}
.bottom2{
    width: 100%;
    height: 30px;
    display: flex;
    gap: 25px;
    position: relative;
    bottom: 120px;
    background-color: #F2F2F2;
    align-items: center;
    color: #71767B;
    font-size: x-small;  
    border-top: 1px solid #ccc;
}

.bottom3{
    width: 50%;
    height: 20px;
    gap: 25px;
    display: flex;
    position: relative;
    bottom: 145px;
    left: 580px;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: end;
    color: #71767B;
    font-size: x-small; 

}

.logo{
    position: absolute;
    top: 28%;
    left: 37%;
}

span.lang{
    color: #4C2AB5;
}


.offer_sevice{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    top: 400px;
    font-size: x-small;
}