* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.inputwrep{
    width: 530px;
    height: 45px;
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0 20px;
    border-radius: calc(45px / 2);
}

.inputwrep input{
    width: 100%;
    height: 100%;
    border: 10px;
    outline: 5px;
}


.iconwrep{
    display: flex;
    gap: 10px;
}