
body {
  background-color: gray;
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  width: 500px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 65px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: purple;
  border-radius: 100%;
}

.box {
  width: 100px;
  height: 100px;
  background-color: purple;
}
