* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;
  width: 500px;
  height: 97%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 60px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #8a2be2;

  border-radius: 100px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #8a2be2;
}
