* {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.body {
  width: 100vw;
  overflow: hidden;
}
.inputwrap {
  height: 45px;
  width: 500px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #ccc;
  padding: 0 20px;
  border-radius: 22.5px;
}

.inputwrap input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
}

.icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.leftbox {
  display: flex;
  width: 100vw;
  height: 25px;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  flex: start;
  padding: 0;
  margin: 0;
  gap: 20px;
  top: -715px;
  right: -9px;
}

.rightbox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  float: right;
  position: relative;
  width: 100vw;
  height: 25px;
  margin: 0;
  gap: 15px;
  padding: 0;
  top: -740px;
}

.rightbox :nth-child(4) {
  background-color: rgb(17, 81, 210);
  width: 60px;
  height: 30px;
  color: white;
}

.구글로고 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  top: -570px;
}

.bottombox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 30px;
  position: relative;
  top: -490px;
  padding: 20px 30px;
}

.bottombox :nth-child(1) {
  background-color: hsl(hue, saturation, lightness);
  width: 90px;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.bottombox :nth-child(2) {
  background-color: hsl(hue, saturation, lightness);
  width: 110px;
  height: 35px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.bottombox2 {
  display: flex;
  position: relative;
  gap: 1000px;
  top: -300px;
  width: 100%;
  height: 300px;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  margin: 0;
}

.leftbottom {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.rightbottom {
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: -95px;
  gap: 10px;
}

.korea {
  position: relative;
  top: -350px;
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  width: 100%;
  height: 50px;
  margin: 0;
}
